name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package
      - uses: codecov/codecov-action@v3.1.0
      - name: Run the Maven verify phase
        run: mvn --batch-mode --update-snapshots verify
      - name: Run the Maven Test phase
        run: mvn test
      - name: Publish on Github Pages
        uses: crazy-max/ghaction-github-pages@v2.3.0
        with:
          build_dir: target/doxygen/html
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
